*{
   padding: 0;
   margin: 0;
}


h1,h2,p {
   padding: 10px;
}



img {
   width: 20%;
   text-align: center;
}




.Container_video {
   display: flex;
   justify-content: center;
   padding: 20px;
}