*{
   padding: 0;
   margin: 0;
}


.conteiner{


}
.foto{
   display: flex;
   justify-content: center;
   width: 200%;
   padding:100px ;


}

.texto{
   display: flex;
   justify-content: center;
}


.Container_video {

}