* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


<<<<<<< HEAD

}

.catalog-gallery {
  width: 80%;
   height: 80%;
  border: 1px dashed blue;
  margin:auto;
}

.experience-list {
  display: flex;
  justify-content: center;
  width: 60%;
}

.experience-image {
  height: 150px;
  width: 150px;
  object-fit: fill;

}
=======
>>>>>>> 59552f176762850091ec48afe73844a02f47a85b
.logo_transparente{
  width: 125px;
}



/*FOOTER */

 :root {
    --primary-color: #333;
    --secondary-color: #444;
    --alt-color:#26dc60;
    --overlay: rgba(0,0,0,0.8);

  }



.social-media .fab{
    margin-right: 20px;
    font-size: 2em;
    color:var(--alt-color)
}
.social-media .fab:hover{
    color: var(--primary-color);
}


.info a:hover{
   color: var(--primary-color);
}
.blog a:hover{
   color: var(--primary-color);
}

/*NUEVA EXPERIENCIA FORMULARIO  */










